{{!< default}}

{{#post}}
	<article>
		<h3>
			<a href="javascript:;">{{title}}</a>
		</h3>
		<div class="pub-info" >{{date format="YYYY/MM/DD"}}</div>
		<div class="content markdown-body">
			{{content}}
		</div>
	</article>
{{/post}}