{{!< default}}

{{#post}}
	<section>
		<h3>
			<a href="javascript:;">{{title}}</a>
		</h3>
		<div class="pub-info" >{{date format="YYYY/MM/DD"}}</div>
		<article class="markdown-body">
			{{content}}
		</article>
	</section>
{{/post}}