footer{
	position:absolute;
	width: 100%;
	z-index: 20;
	color:darken(#FFF,10%);
	margin-top:60px;
	background-color:lighten(#000,20%);
	padding:40px 0 7px;
	a{
		&:hover,
		&:active,
		&:visited,
		&:focus{
			color:inherit;
		}
		color:darken(#FFF,10%);
		text-decoration:none;
		i{
			border-radius:50%;
			padding:10px;
			opacity:.5;
			&:hover{
				opacity:1;
			}
		}
	}
	li{
		list-style:none;
		display:inline-block;
		margin-right:10px;
		margin-top:10px;
	}
	ul{
		margin-top:5px;
		display:inline-block;
		color:darken(#FFF,10%);
		font-size:1.1rem;
	}
	.fa-qq{
		background-color:#55cff8;
	}
	.fa-weibo{
		background-color:#c83d20;
	}
	.fa-github{
		background-color:#afb6ca;
		padding:10px 11px;
	}
	.fa-rss{
		background-color:#FFCC33;
		padding:10px 12px;
	}
}

.about-me{
	padding-left:5%;
	img{
		position:relative;
		top:-25px;
		height:100px;
		width:100px;
		border-radius:.4rem;
		opacity:.5;
		margin-right:5%;

	}
	blockquote{
		margin:0;
		border-left:4px solid lighten(#000,50%);
		padding:10px 0 10px 10px;
		display:inline-block;	
		font-size:1rem;
	}
}

.copyright{
	text-align:right;
	font-size:.9rem;
	padding-right:20px;
	margin-top:30px;
}

.follow-me{
	padding-left:5%;
}

