header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:20;
	background-color:rgba(255,255,255,1);
	box-shadow:0 0 5px 0 lighten(#000,20%);
}

.p-bar{
	background-color:#000;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:3px;
}
.brand{
	background-color:#000;
	width:200px;
	height:120px;
	position:absolute;
	z-index:30;
	left:50%;
	top:0;
	transform: translateX(-50%);
	text-align:center;
	padding:20px;
	box-sizing: border-box;
	transition:all .8s;
	a{
		color:#FFF;
		text-decoration:none;
		font-size:24px;
		margin-top:20px;
	}
	p{
		color:darken(#FFF,10%);
		font-size:.66rem;
	}
	.triangle{
		width:0;
		height:0;
		border-left:100px solid transparent;
		border-right:100px solid transparent;
		border-top:60px solid #000;
		position:absolute;
		left:0;
		top:120px;
	} 
	&.scroll{
		left:140px;
		height:80px;
		line-height:35px;
		width:auto;
		p{
			display:none;
		}
		a{
			font-size:1.1rem;
		}
	}
}

.more{
	a{
		text-decoration:none;
		color:lighten(#000,20%);
		position: absolute;
		left:20px;
		top:25px;
	}
	&.c{
		transform:rotate(-90deg);
	}
}