@media(min-width:768px){
	.navbar{
		display:none;
		opacity:0;
		li{
			height:80px;
			line-height:80px;
		}
	}
	.s-brand{
		display:none;
	}
	.res{
		display:none;
	}
	header{
		height:80px;
	}
}

@media(max-width:767px){
	article{
		width: 75%;
	}

	.brand{
		display:none;
	}
	html{
		font-size:14px;
	}
	.s-brand{
		display:inline-block;
		padding:15px 30px;
	}
	.navbar{
		width:100%;
		text-align:center;
		padding:0 30px;
		height:0;
		opacity:0;
		overflow:hidden;
		
	}
	header{
		min-height:80px;
	}
	.res a{
		color:inherit;
		transition:transform .2s;		
		&:hover{
			text-decoration:none;
			cursor:pointer;
			transform:rotate(-90deg);
		}
		position:absolute;
		right:20px;
		top:32px;
	}
	.copyright{
		text-align:left;
		padding-left:5%;
		margin-top:10px;
	}
}

@media (max-width: 512px){
	article{
		width: 85%;
	}
}




