.navbar{
	float:right;
	padding-right:80px;
	height:100%;
	ul{
		list-style:none;
		padding:0;
		margin:0;
		height:100%;
	}
	li{
		display:inline-block;
		padding:0 10px;
	}
	a{
		text-decoration:none;
		color:lighten(#000,40%);
		&:hover{
			text-decoration:underline;
			color:lighten(#000,20%);
		}
	}
}

