html{
	height:100%;
	font-size:16px;
}

body{
	color:lighten(#000,20%);
	height:100%;
	background-color:#f2f2f2;
	font-size:16px;
	font-family:'PT serif',\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Microsoft Yahei,Hiragino Sans GB,sans-serif;
}

#app{
	height:100%;
}

a:focus{
	outline:none;
}

@import 'header';
@import 'navbar';
@import 'section';
@import 'footer';
@import 'pagination';
@import 'loading';
@import 'media';
@import 'comment';
@import 'tag';